
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model e_commerce_argentina_netfwk.ArticuloViewModel

<div>
    <div class="row">
        <div class="col-md-6">
            <h1>Checkout</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 25rem;">
                <img src="https://images.samsung.com/ar/smartphones/galaxy-z-flip/images/galaxy-z-flip-share-image.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Samsung Galaxy Z-Flip</h5>
                    <h6>$139.999,00</h6>
                    <p class="card-text">Estas a punto de comprar tu nuevo teléfono!</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cantidad: 1</li>
                    <li class="list-group-item">Total: $139.999,00</li>
                    <li class="list-group-item">Pagalo hasta en 6 cuotas!</li>
                </ul>
                <div class="card-body">
                    @*<form action="/home/about" method="POST">
            <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                    data-preference-id="@Html.DisplayFor(model => model.Id)">
            </script>
        </form>*@
                    <a href="@Html.DisplayFor(model => model.InitPoint)">Pagar con Mercado Pago</a>
                </div>
            </div>
        </div>
    </div>

</div>



