
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Success!!!</h2>
<h4>Info:</h4>
<p>@Request.QueryString["PAYMENT_ID"] ?? "";</p>
<p>@Request.QueryString["PREFERENCE_ID"] ?? "";</p>
<p>@Request.QueryString["EXTERNAL_REFERENCE"] ?? "";</p>
<p>@Request.QueryString["SITE_ID"] ?? "";</p>