@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model e_commerce_MP.ArticuloView

<div class="jumbotron">
    <h1>e-commerce Argentina</h1>
    <p class="lead">Tienda exclusiva de teléfonos</p>
</div>
<div class="row" style="text-align:center;">

    <div class="col-md-6 col-lg-offset-3">
        <img src="https://images.samsung.com/ar/smartphones/galaxy-z-flip/images/galaxy-z-flip-share-image.jpg" class="" alt="zflip" style="width:100%">
    </div>
    <div class="row">
        <div class="col-md-12">
            <form action="/procesar-pago" method="POST">
                <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
                        data-preference-id="@Html.DisplayFor(model => model.Id)">
                </script>
            </form>
        </div>
    </div>

</div>